body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding:0;
}

header {
  background-color: #333;
  padding: 1cm;
}

nav a {
	color: white;
	text-decoration: none;
	margin-right: 1cm;
}

nav a:hover {
	text-decoration: underline;
}

main {
padding: 1.5cm;
}

footer {
	background-color:#f4f4f4;
	text-align: center;
	padding: 1cm;
	margin-top: 2cm;
}

img {
	max-width: 800px;
	width:100%;
	height: auto;
	display: block;
	margin: 20px auto;
}

nav a {
	transition: color 0.3 ease;
}

nav a:hover {
	color: #005f73
}